{% extends "layout.html" %}

{% block title %}
Home - PRIVMAC Qualité
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Your App!</h1>
        <p class="lead">This is the home page of your application. Customize this text to fit your needs.</p>
        <hr class="my-2">
        <p>Click the button below to learn more about this application.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
{% endblock %}
