/* Styles for sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    z-index: 1;
    background-color: #343a40;
    overflow-x: hidden;
    transition: left 0.5s ease;
    padding-top: 20px;
}

.sidebar.active {
    left: 0;
}

.sidebar .sidebar-header {
    text-align: center;
    padding-bottom: 10px;
}

.sidebar .list-unstyled li {
    padding: 10px;
}

.sidebar .list-unstyled li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px;
}

.sidebar .list-unstyled li a:hover {
    background-color: #6c757d;
}

/* Styles for content */
.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

.navbar {
    background-color: #343a40 !important;
}

.navbar .navbar-brand img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 10px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #fff !important;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #dd1414 !important;
}

.navbar .navbar-toggler-icon {
    background-color: #fff;
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .navbar .navbar-toggler-icon {
        background-color: #fff;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        left: -100%;
        transition: left 0.3s ease;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .navbar .navbar-toggler-icon {
        background-color: #fff;
    }
}

@media (max-width: 576px) {
    .sidebar {
        padding-top: 15px;
        width: 100%;
        left: -100%;
        transition: left 0.3s ease;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }

    .navbar .navbar-toggler-icon {
        background-color: #fff;
    }
}

/* Toggle button styles */
.toggle-btn {
    position: fixed;
    left: 0;
    top: 0;
    margin: 10px;
    z-index: 1;
}

/* Active link styles */
.sidebar .nav-link {
    color: #fff;
}

.sidebar .nav-link:hover {
    background: #83aab6;
    color: #dd1414;
    font-size: 1.5em;
}

.sidebar .active-link {
    background: #495057;
    color: #dd1414;
    font-size: 1.5em;
}
